.col-main {
  float: right;
  width: 80%;  
}

.page-header h2 {
  margin-bottom: 19px;
}

.collection-des {
  line-height: 20px;
}

li.product {
  padding: 0;
  float: left;
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #F6F6F6;
}

li.product .productImage {
  width: 200px;
  opacity: 0.8;
  margin-left: 20px;
  margin-bottom: 10px;
}

li.product .product-name {
  font-weight: normal;
  color: #999;
}

li.product:hover .productImage {
  opacity: 1;

}
li.product:hover {
  box-shadow: 0 10px 40px rgba(0,0,0,.1);
}

li.product .price-max {
  text-decoration: line-through;
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
}

li.product .price-min {
  font-size: 25px;
  color: green;
  font-weight: bold;
}

li.product .priceList {
  display: block;
  line-height: 40px;
}

li.product .priceList span {
  float: right;
  margin-left: 10px;
}

li.product .product-grid-image {
  text-decoration: none;
  padding: 5% 10%;
  display: block;
}

ul.product-list {
  list-style-type: none;
}
