.col-main {
  float: right;
  width: 80%;  
}

.page-header h2 {
  margin-bottom: 19px;
}

.collection-des {
  line-height: 20px;
}

li.product {
  padding: 0;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

li.product .productImage {
  width: 150px;
  opacity: 0.3;
}

li.product:hover .productImage {
  opacity: 1;
}

li.product .price-max {
  text-decoration: line-through;
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
}

li.product .price-min {
  font-size: 20px;
  color: green;
  font-weight: bold;
}

ul.product-list {
  list-style-type: none;
}
